<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to 'Mr. Cocktail', root_path, class: "navbar-text-brand" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Add Cocktail", new_cocktail_path, {class: "navbar-wagon-item navbar-wagon-link"} %>
  </div>
</div>
